<p>Hello {{ firstName }} {{ lastName }}</p>
<p>Your email is {{ email }}</p>

<hr> 

<p>Click here to download the following files: </p>
<ul>
{{#each downloads}}<li><a href="{{ download }}">{{ download }}</a></li>{{/each}}
</ul>